# Database
POSTGRES_DB=ep
POSTGRES_USER=ep
POSTGRES_PASSWORD=SECRET
#
# Etherpad
#
# 1. DB
DB_TYPE=postgres
DB_HOST=db
DB_PORT=5432
DB_NAME=ep
DB_USER=ep
DB_PASS=SECRET
#
# 2. General
TITLE=Some title
DEFAULT_PAD_TEXT=Some text
ADMIN_USER=adminuser
ADMIN_PASSWORD=SECRET2
PAD_OPTIONS_LANG=es-es
LOGLEVEL=INFO #valid values are DEBUG, INFO, WARN and ERROR
TRUST_PROXY=true
#
# 3. For Dockerfile plugin installation
ETHERPAD_PLUGINS=ep_headings2 ep_markdown ep_comments_page ep_align ep_page_view ep_font_color ep_webrtc ep_embedded_hyperlinks2

